.form__container {
    margin: 12px 0;
  padding: 16px;
  border: 1px solid var(--light-dark);
  border-radius:8px;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: flex-start;
  gap: 1rem;
}

.form__buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.btn__save {
  background-color: #5cb85c;
  padding: 4px 12px;
}

.btn__close {
    border: 1px solid white;
    background-color: transparent;
}
